body {
  margin: 0;
  padding: 0;
  font-family: "Courier";
}
.tab-bar {
  white-space: nowrap;
}
.tab {
  margin: 0 10px;
}
.tab.selected,.tab:hover,.dropdown-header.selected,.dropdown-header:hover {
  font-weight: bold;
}