.tab-bar {
  white-space: nowrap;
  text-align: center;
}
.tab,.dropdown-header {
  margin: 0 10px;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  left: 0;
  list-style-type: none;
}
.dropdown-header:after {
  content: "∨";
}
.tab.selected,.tab:hover,.dropdown-header.selected,.dropdown-header:hover {
  font-weight: bold;
}